<p id="notice"><%= notice %></p>


<% @arts.each do |art| %>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title"><%= art.title %> (<%= art.year %>)</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <%= link_to image_tag(art.image_url, width:"100%"), art %>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-3">
        <strong><%= art.artist %></strong>
        <br/>
        <%= art.description %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3">
        <%= link_to 'Edit Details', edit_art_path(art) %><br/>
        <%= link_to 'Remove', art, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
  </div>
</div>
<% end %>

<%= link_to 'Add Art', new_art_path, class: "btn btn-success" %>
<div style="color:white">
<br/>
opsworks
<br/>
<%= Rails.env %>
</div>
